In [4]:
%matplotlib inline
import math
import numpy as np
import pandas as pd
import scipy.stats as stats
import matplotlib.pyplot as plt
from scipy.stats.stats import pearsonr
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
DATASET = "/home/exterior/Documents/IML/_data/pandas_data/"

/tmp/ipykernel_70938/4152478908.py:7: DeprecationWarning: Please use `pearsonr` from the `scipy.stats` namespace, the `scipy.stats.stats` namespace is deprecated.
  from scipy.stats.stats import pearsonr

In [36]:
df = pd.read_excel(DATASET + 'composers.xlsx',index_col='composer',sheet_name='Sheet1',na_values=['unknown'])
composers4 = pd.read_excel(DATASET + 'composers.xlsx',index_col='composer',sheet_name='Sheet4',na_values=['unknown'])
composers5 = pd.read_excel(DATASET + 'composers.xlsx',index_col='composer',sheet_name='Sheet5',na_values=['unknown'])
composers4.head(10)

           first name
composer
Mahler         Gustav
Beethoven  Ludwig van
Puccini       Giacomo
Brahms       Johannes

In [21]:
df['livedyears'] = df.death-df.birth

In [22]:
def age(y):
    if y>60:
        return 'old'
    else:
        return 'young'

In [24]:
df

              birth  death              city  livedyears
composer
Mahler         1860   1911           Kaliste          51
Beethoven      1770   1827              Bonn          57
Puccini        1858   1924           Lucques          66
Shostakovich   1906   1975  Saint-Petersburg          69

In [25]:
df['agegroup'] = df.livedyears.apply(age)

In [26]:
df

              birth  death              city  livedyears agegroup
composer
Mahler         1860   1911           Kaliste          51    young
Beethoven      1770   1827              Bonn          57    young
Puccini        1858   1924           Lucques          66      old
Shostakovich   1906   1975  Saint-Petersburg          69      old

In [33]:
pd.merge(df,composer4,right_index=True,left_index=True)

           birth  death     city  first name
composer
Mahler      1860   1911  Kaliste      Gustav
Beethoven   1770   1827     Bonn  Ludwig van
Puccini     1858   1924  Lucques     Giacomo

In [34]:
df.join(composer4)

              birth  death              city  first name
composer
Mahler         1860   1911           Kaliste      Gustav
Beethoven      1770   1827              Bonn  Ludwig van
Puccini        1858   1924           Lucques     Giacomo
Shostakovich   1906   1975  Saint-Petersburg         NaN

In [35]:
composer4.join(df)

           first name   birth   death     city
composer
Mahler         Gustav  1860.0  1911.0  Kaliste
Beethoven  Ludwig van  1770.0  1827.0     Bonn
Puccini       Giacomo  1858.0  1924.0  Lucques
Brahms       Johannes     NaN     NaN      NaN

In [48]:
composers5.groupby('period').groups['baroque'].size

10

In [50]:
composers5['age'] = composers5.death-composers5.birth

In [51]:
composers5.groupby('period')['age'].mean()

period
baroque          56.900000
classic          56.800000
modern           77.181818
post-romantic    73.200000
renaissance      68.142857
romantic         58.764706
Name: age, dtype: float64